<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

</head>
<style>
    body {

        padding-top: 0px;
        padding-left: 40px;
        padding-right: 40px;
        font-family: Arial;
    }


    h1{
        text-align: center;
    }

    p {

        font-weight: bold;
    }



    #journee_facture {
        text-align: center;
    }


    .separation span {
        padding: 0 10px;
        font-weight: bold;
        color: #314747;
    }



</style>
<body>

<img src="https://cdn.myminifactory.com//uploads/profile-images/059a0ce97aef7d4c2673f3c36587abf5744907c7.jpg" width="300" height="300" alt="logo" />

<h1>Billeterie</h1>

<div id="journee_facture" class="">
    {% if reservation.demiJournee == 1 %}
        <p>Vous avez réservé pour la demi journée du {{ reservation.date|date('d-m-Y') }}</p>
        <p>(Entrée à partir de 14h)</p>
    {% elseif reservation.demiJournee == 0 %}
        <p>Vous avez réservé pour la journée entière du {{ reservation.date|date('d-m-Y') }}</p>
    {% endif %}
</div>
<div id="facture_infos" class="">
   <p>Vous trouverez ci-joint vos billets au format PDF,<br>vous avez la possibilité de les présenter directement sur votre smartphone</p>
</div>
</body>
</html>
