{% extends 'base.html.twig' %}

{% block title %}Louvre!{% endblock %}

{% block body %}
    <p>{% erreur %}</p>

{% endblock %}
    {% block javascripts %}

        {{ encore_entry_script_tags('app') }}

    {% endblock %}