<table class="table">
    <thead>
    <tr>
        <th scope="col">Tarif</th>
        <th scope="col">Condition</th>
        <th scope="col">Prix</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Normal</th>
        <td>12 ans et +</td>
        <td>16€</td>
    </tr>
    <tr>
        <th scope="row">Enfant</th>
        <td>4 - 12 ans</td>
        <td>8€</td>
    </tr>
    <tr>
        <th scope="row">Jeune enfant</th>
        <td>- 4 ans</td>
        <td>Gratuit</td>
    </tr>
    <tr>
        <th scope="row">Senior</th>
        <td>+ 60 ans</td>
        <td>12€</td>
    </tr>
    <tr>
        <th scope="row">Réduit</th>
        <td>Sous présentation de la carte<br>étudiante , militaire ou équivalent</td>
        <td>10€</td>
    </tr>
    </tbody>
</table>