{% extends 'base.html.twig' %}

{% block title %}Louvre{% endblock %}

    {% block body %}

    <div id="paiement_page" class="col-sm-12 text-center" style="margin-top: 10%">
        <h3 style="color: white; font-weight: bold">Reservation effectuée !</h3>
        <p style="color: white; font-weight: bold">Vous allez recevoir vos billets par Email à l'adresse : {{ email }}</p>
    </div>


    {% endblock %}