{% extends 'base.html.twig' %}

{% block title %}Louvre!{% endblock %}

{% block body %}
<div class="col-xs-12 col-lg-6">
    <h3>Reservation bien effectuée !</h3>
    <p>Vous allez recevoir vos billets par Email à l'adresse :</p>
</div>
{% endblock %}
    {% block javascripts %}

        {{ encore_entry_script_tags('app') }}


    {% endblock %}